@media screen and (max-width:768px){
	/*标题栏*/
	header *{text-align:center;}
	/*导航栏*/
	nav{overflow:hidden;}
	nav ul{
		height:0;
		padding:0;
		transition:height 500ms;
	}
	nav li{
		display:block;
		padding:0;
		text-align:center;
	}
	nav a,nav a:after{margin:0 0.5em;}
	nav a:after{
		content:attr(data-caption);
		display:inline-block;
	}
}