/*基本*/
*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	outline:none;
}
::-webkit-scrollbar{
	width:10px;
	height:10px;
	background-color:transparent;
}
::-webkit-scrollbar-thumb{background-color:#666;}
::-webkit-scrollbar-thumb:hover{background-color:#555;}
::-webkit-scrollbar-thumb:active{background-color:#444;}
::-webkit-scrollbar-button{display:none;}
html{
	background:#FFF;
	color:#333;
	font-family:"Microsoft Yahei","Arial","SimHei";
	font-size:1em;
	white-space-collapse:discard;
}
pre,code,kbd,samp,var{
	background-color:#F9F9F9;
	border:1px solid #DDD;
	border-radius:0.2em;
	font-family:"Yahei Consolas Hybrid","Consolas","Courier New","monospace";
	font-size:0.8em;
	margin:0.2em;
	padding:0.1em 0.4em;
}
div{position:relative;}
var{white-space:nowrap;}
em{font-style:normal;color:#C00;}
a{color:#3B8BBA;text-decoration:none;}
a:hover{text-decoration:underline;}
blockquote{
	border-left:5px solid #DDD;
	font-size:0.9em;
	font-style:italic;
	margin:1em 1em;
	padding-left:0.8em;
}
abbr[title]{
	border-bottom:1px dotted #666;
	margin:0 0.2em;
}
/*隐藏元素*/
@media screen and (max-width:768px){.hidden-phone{display:none;}}
@media screen and (min-width:769px) and (max-width:979px){.hidden-tablet{display:none;}}
@media screen and (min-width:980px){.hidden-desktop{display:none;}}
/*字体样式*/
.left{text-align:left;}
.center{text-align:center;}
.right{text-align:right;}
/*标题*/
header{padding:0.5em 1em;}
h1{font-size:2em;}
h2{font-size:1.5em;}
h3{font-size:1.25em;}
h4{font-size:1.125em;}
h5{font-size:1em;}
h6{font-size:0.83em;}
/*导航栏*/
nav{
	width:100%;
	height:2.5em;
	line-height:2.5em;
	overflow:hidden;
}
nav ul{
	margin:0;
	padding:0;
	overflow:hidden;
}
nav li{
	display:inline-block;
	list-style:none;
	position:relative;
	width:4.5em;
	height:2.5em;
	overflow:hidden;
}
nav a{
	display:inline-block;
	text-align:center;
	width:4.5em;
	transition:all 200ms;
}
nav a:hover,nav a:active{
	margin-top:-2.5em;
	transition:all 200ms;
}
nav a:after{
	content:attr(data-caption);
	width:100%;
	display:inline-block;
}
/*内容*/
.content{padding:0 1em;}
/*尾注*/
footer{padding:1em;text-align:center;}
footer div{color:#999;font-size:0.8em;}