@media screen and (max-width:768px){
	/*标题栏*/
	header *{text-align:center;}
	/*导航栏*/
	nav{
		height:2.5em;
		transition:all 200ms ease;
	}
	nav li{
		display:block;
		width:100%;
		padding:0;
		text-align:center;
	}
	nav a:hover,nav a:active{
		margin-top:0;
		transition:none;
	}
	nav a:after{display:none;}
	/*菜单滑动效果*/
	#menu-toggle:after{
		display:block;
		width:100%;
		height:2.5em;
		cursor:pointer;
	}
	.menu-toggle nav{
		height:20em !important;
		transition:all 200ms ease;
	}
}