.form fieldset{
	border:0;
	margin:0;
	padding:0.35em 0 0.75em;
}
.form legend{
	border-bottom:1px solid #E5E5E5;
	color:#333;
	font-size:1.25em;
	display:block;
	margin-bottom:0.3em;
	padding:0.3em 0;
	width:100%;
}
.form input[type=text],.form input[type=password],.form input[type=email],
.form input[type=search],.form input[type=number]{
	border:1px solid;
	border-color:#CCC;
	border-radius:0.3em;
	font-size:0.85em;
	padding:0.4em 0.5em;
	transition:border-color 500ms;
}
.form input[type=text]:focus,.form input[type=password]:focus,.form input[type=email]:focus,
.form input[type=search]:focus,.form input[type=number]:focus{
	transition:border-color 500ms;
	border-color:#129FEA;
}
.form input[type=submit],.form input[type=reset],.form input[type=button]{
	padding:0.4em 1.5em;
	border:none;
	border-radius:0.3em;
	font-size:0.9em;
}